@model Doar.Entity.Entities.Email
@{
    ViewBag.Title = "Fale Conosco";
}
<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("SendMail", "Contato", new AjaxOptions { HttpMethod = "POST", OnSuccess = "MensagemSucesso();" }, new { id = "formEmail" }))
{
    <div class="col-md-3 center panel">
        
        <div class="form-group">
            @Html.LabelFor(m => m.Nome)
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Destinatario)
            @Html.TextBoxFor(m => m.Destinatario, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Destinatario, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Telefone)
            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Assunto)
            @Html.TextBoxFor(m => m.Assunto, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Assunto, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Corpo)
            @Html.TextAreaFor(m => m.Corpo, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Corpo, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Enviar"/>
        </div>
    </div>
}
