@model Doar.Entity.Entities.Usuario
@{
    ViewBag.Title = "Editar Cadastro";
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("Edit", "Usuario", new AjaxOptions { HttpMethod = "POST", OnSuccess = "MensagemSucesso();" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.UsuarioId)
    <div class="col-md-12 center panel">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome)
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Cpf)
                    @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Nascimento)
                    @Html.TextBoxFor(m => m.Nascimento, Model.Nascimento.ToString("dd/MM/yyyy"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nascimento, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Telefone)
                    @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("Valor da Doação")
                            <div class="input-group">
                                <input id="Valor" type="text" class="form-control">
                                <span class="input-group-btn">
                                    @Ajax.ActionLink("Doar", "Boleto", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.open(window.location.origin + '/Home/GerarBoleto/'+data, '_blank');" }, new { @class = "btn btn-primary", id = "btnDoar" })
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divGrid" class="table-responsive">
                    @if (Model.Doacoes.Any())
                    {
                        var grid = new WebGrid(Model.Doacoes, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "divGrid");

                        @grid.GetHtml(tableStyle: "table table-hover",
                columns: grid.Columns(
                grid.Column("Valor", "Valor"),
                grid.Column("Vencimento", " Vencimento", x => x.Vencimento.ToString("dd/MM/yyyy")),
                grid.Column(format: (item) => @Html.Raw("<a target='_blank' data-toggle='tooltip' title='Editar' href='../Home/GerarBoleto/" + item.DoacaoId + "'><i class='glyphicon glyphicon-edit glyphicon-lg' aria-hidden='true'></i></a>"))
                ))
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.HiddenFor(m => m.IsAdmin)
                    <label class="btn btn-primary active">
                        @Html.CheckBoxFor(m => m.ReceberEmail)
                        @Html.LabelFor(m => m.ReceberEmail)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.HiddenFor(m => m.EnderecoId)
            @Html.HiddenFor(m => m.Endereco.EnderecoId)
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco.End)
                    @Html.TextBoxFor(m => m.Endereco.End, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco.End, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco.Numero)
                    @Html.TextBoxFor(m => m.Endereco.Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco.Numero, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco.Complemento)
                    @Html.TextBoxFor(m => m.Endereco.Complemento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco.Complemento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco.Bairro)
                    @Html.TextBoxFor(m => m.Endereco.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco.Bairro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco.Cidade)
                    @Html.TextBoxFor(m => m.Endereco.Cidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco.UF)
                    @Html.TextBoxFor(m => m.Endereco.UF, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco.UF, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco.CEP)
                    @Html.TextBoxFor(m => m.Endereco.CEP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco.CEP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Atualizar" />
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnDoar").click(function (event) {
            $(this).attr('href', $(this).attr('href').split('?')[0] + "?Valor=" + $('#Valor').val());
        });
    });
</script>